{{ define "main" }}
    <div class="section-card">

        <header>
            {{/*
            <h3 class="section-title">
                {{ if eq .Parent (.GetPage "/") }}
                {{ T "list.section" }}
                {{ else }}
                {{ .Parent.Title }}
                {{ end }}
            </h3>
            */}}

            <div class="section-details">
                <h1 class="section-term">{{ .Title }}</h1>
                {{ with .Params.description }}
                <h2 class="section-description">{{ . }}</h2>
                {{ end }}
            </div>

            {{- $image := partialCached "helper/image" (dict "Context" . "Type" "section") .RelPermalink "section" -}}
            {{ if $image.exists }}
            <div class="section-image">
                {{- $params := dict "image" $image "type" "thumbnail" -}}
                {{- partialCached "helper/resize-image" (dict "Context" $ "Params" $params) $params -}}
            </div>
            {{ end }}
        </header>

        {{ if .Content }}{{ partial "article/components/content" . }}{{ end }}
    </div>

    {{- $subsections := .Sections -}}
    {{- $pages := (where .Pages "Params.hidden" "!=" true) | complement $subsections -}}

    {{- if eq (len $pages) 0 -}}
    {{/* If there are no normal pages, display subsections in list style, with pagination */}}
    {{/* This happens with taxonomies like categories or tags */}}
    {{- $pages = $subsections -}}
    {{- $subsections = slice -}}
    {{- end -}}

    {{- if eq .Kind "taxonomy" -}}{{/* e.g. 'Semesters' */}}
        {{- $pages = slice -}}
        {{- range .Data.Index -}}
            {{- $pages = $pages | append .Page -}}
        {{- end -}}
        {{- $pages = sort $pages ".Date" "desc" }}
        {{- $subsections = slice -}}
    {{- end -}}

    {{- if eq .Kind "term" -}}{{/* e.g. 'Autumn 2023' */}}
        {{- $pages = sort $pages ".Params.event_details.date_start" "asc" }}
        {{- $pages = sort $pages ".Date" "asc" }}
        {{- $pages = sort $pages "PublishDate" "asc" }}
    {{- end -}}

    {{- with $subsections -}}
    <aside>
        <h2 class="section-title">{{ T "list.subsection" (len $subsections) }}</h2>
        <div class="subsection-list">
            <div class="article-list--tile">
                {{ range . }}
                {{ partial "article-list/tile" (dict "context" . "size" "250x150" "Type" "section") }}
                {{ end }}
            </div>
        </div>
    </aside>
    {{- end -}}

    {{/* List only pages that are not a subsection */}}
    {{ $paginator := .Paginate $pages }}
    <section class="article-list--compact">
        {{ range $paginator.Pages }}
        {{ partial "article-list/compact" . }}
        {{ end }}
    </section>

    {{- partial "pagination.html" . -}}

    {{ partialCached "footer/footer" . }}
{{ end }}

{{ define "right-sidebar" }}
    {{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
