{{ $image := partialCached "helper/image" (dict "Context" .context "Type" .Type) .context.RelPermalink .Type }}
<article class="{{ if $image.exists }}has-image{{ end }}">
    <a href="{{ .context.RelPermalink }}">

        {{ if $image.exists }}
            <div class="article-image">
                {{- $params := dict "image" $image "type" "tile" -}}
                {{- partialCached "helper/resize-image" (dict "Context" .context "Params" $params) $params -}}
            </div>
        {{ end }}

        <div class="article-details">
            <h2 class="article-title">
                {{- .context.Title -}}
            </h2>
        </div>
    </a>
</article>
