{{ define "main" }}

<article class="{{ if .Params.image }}has-image {{ end }}main-article">
    {{ partial "article/components/content" . }}

    {{ if or .Params.math .Site.Params.article.math }}
    {{ partialCached "article/components/math.html" . }}
    {{ end }}
</article>

{{ if .Params.links }}
{{ partial "article/components/links" . }}
{{ end }}

{{ $pages := where .Site.RegularPages "Type" "in" .Site.Params.mainSections }}
{{ $notHidden := where .Site.RegularPages "Params.hidden" "!=" true }}
{{ $notHiddenOnHomepage := where .Site.RegularPages "Params.hidden_on_homepage" "!=" true }}
{{ $filtered := ($pages | intersect $notHidden | intersect $notHiddenOnHomepage) }}
{{ $pag := .Paginate ($filtered) }}

<section class="article-list">
    {{ $pages := $pag.Pages }}
    {{ $pages = sort $pages ".Params.event_details.date_start" "desc" }}
    {{ $pages = sort $pages "Date" "desc" }}
    {{ $pages = sort $pages "PublishDate" "desc" }}
    {{ $pages = sort $pages ".Params.pinned" "desc" }}
    {{ range $index, $element := $pages }}
    {{ partial "article-list/default" . }}
    {{ end }}
</section>

{{- partial "pagination.html" . -}}
{{- partial "footer/footer" . -}}
{{ end }}

{{ define "right-sidebar" }}
{{ partial "sidebar/right.html" (dict "Context" . "Scope" "homepage") }}
{{ end }}
