<article>
    <a href="{{ .RelPermalink }}">
        <div class="article-details">
            <h2 class="article-title">
                {{- .Title -}}
            </h2>

            {{ with .Description }}
            <h3 class="article-subtitle">{{ . }}</h3>
            {{ end }}

            {{- partial "event-list/event-details-inline.html" . -}}
        </div>

        {{- $image := partialCached "helper/image" (dict "Context" . "Type" "articleList") .RelPermalink "articleList" -}}
        {{ if $image.exists }}
            <div class="article-image">
                {{- $params := dict "image" $image "type" "thumbnail" -}}
                {{- partialCached "helper/resize-image" (dict "Context" $ "Params" $params) $params -}}
            </div>
        {{ end }}
    </a>
</article>
