{{- $eventsDetails := partial "event/event-details-dicts" . -}}
{{- range $eventDetails := $eventsDetails -}}
<footer class="article-time">
    {{ if .date_start }}
    <div>
        {{ partial "helper/fontawesome" "calendar" }}
        <span>
            <time>{{- .date_start.Format $.Site.Params.dateFormat.event -}}
            </time>
            {{ if .date_end }}
            &mdash;
            <time>
                {{ if (eq (.date_start.Format "2006-01-21") (.date_end.Format "2006-01-21")) }}
                {{- .date_end.Format $.Site.Params.dateFormat.eventEndShort -}}
                {{ else }}
                {{- .date_end.Format $.Site.Params.dateFormat.event -}}
                {{ end }}
            </time>
            {{ end }}
        </span>
    </div>
    {{ end }}

    {{ with .location }}
    <div>
        {{ partial "helper/fontawesome" "solid/location-dot" }}
        <address>
            {{ .text }}
        </address>
    </div>
    {{ end }}
</footer>
{{- end -}}
