{{/*
    use the template as follows:
    {{ partial "helper/fill-image.html" (dict "asset" . "format" "370x420 q80 jpg" "alt" "Title of the image" "class" "mt-4") }}
    ("alt" and "class" parameters are optional:)
    {{ partial "helper/fill-image.html" (dict "asset" . "format" "370x420 q80 jpg") }}
*/}}

{{- $image := partial "helper/get-image.html" .asset -}}
{{ if not (eq .format "original") }}{{- $image = $image.Fill .format -}}{{ end }}
<img src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" class="img-fluid{{ with .class }} {{ . }}{{ end }}"{{ with .alt }} alt="{{ . }}"{{ end }}{{ with .style }} style="{{ . | safeCSS }}"{{ end }}>
{{- "" -}}
